.hero {
    background-image: url('../../assets/images/bg.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 90% right 25%;
    padding: 0 10em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero h4 {
    padding-bottom: 50px;
    font-size: 1.5rem;
}
.hero h2 {
    font-size: 2rem;
}

.hero p {
    padding: 10px 0;
}

.hero .shop__now {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
   
.hero .shop__now {
    width: 12rem;
    height: auto;
}
   
.hero .shop__now .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #000000;
    border-radius: 1.625rem;
}
   
.hero .shop__now .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
.hero .shop__now .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
.hero .shop__now .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
   
.hero .shop__now .button__text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #000000;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
   
.hero .shop__now:hover .circle {
    width: 100%;
}
   
.hero .shop__now:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
.hero .shop__now:hover .button__text {
    color: #fff;
}



@media (max-width:768px) {
    .hero {
        padding: 0 2em;
        background-image: url('../../assets/images/bg.jpg');
        width: 100%;
        background-size: cover;
        background-position: top 50% right 70%;
    }
    
    .hero h4 {
        padding-bottom: 15px;
        font-size: 1.5rem;
        top: 100px;
    }
    .hero h2 {
        font-size: 2rem;
        padding: 10px 0;
    }
    
    .hero h1 {
        color: #112240;
    }
    
    .hero p {
        padding: 10px 0;
    }
}