
.bloc-tabs {
    display: flex;
}

.tabs {
    background-color: #F6F6F6;
    padding: 10px;
    text-align: center;
    width: 10%;
    cursor: pointer;
    position: relative;
    outline: none;
}

.active-tabs  {
    background: black;
    color: #F6F6F6;
}
  
button {
    border: none;
}

.content-tabs {
    flex-grow : 1;
}

.content {
    background: #F6F6F6;
    padding: 40px;
    width: 100%;
    height: 100%;
    display: none;
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100px;
    height: 2px;
    margin-bottom: 5px;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}