.product-view {
    min-height: 20rem;
}
  
.quantity {
    display: flex;
    align-items: center;
}
  
.quantity input {
    width: 2rem;
    text-align: center;
}
  
.quantity button {
    background: none;
    border: none;
    width: 1rem;
    outline: none;
}
  
.swiper-container1 {
    width: 100%;
    height: 100%;
}

.swiper-container2 {
    width: 100%;
    height: 100%;
}

.slider__flex {
    display: flex;
    align-items: flex-start;
}

.slider__col {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 32px;
}

.slider__thumbs {
    height: calc(400px - 96px);
    width: 80px;
}

.slider__thumbs .slider__image {
    transition: 0.25s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.slider__thumbs .slider__image:hover {
    opacity: 1;
}

.slider__thumbs .swiper-slide-thumb-active .slider__image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}

.slider__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .slider__flex {
        flex-direction: column-reverse;
    }
    .slider__col {
        flex-direction: row;
        align-items: center;
        margin-right: 0;
        margin-top: 24px;
        width: 100%;
    }
    .slider__thumbs {
        height: 100px;
        width: calc(100% - 96px);
        margin: 0 16px;
    }
}
