.logo {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 1em;
    position: relative;
    text-transform: uppercase;
    color: #000000;
}

.logo:hover {
    color: #000000;
}

.container__nav {
    margin: auto;
    width: min(90%, 1299px);
}
  
header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
  
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
  
.navigationbar {
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    z-index: 100;
    margin-top: 10px;
}

.navigationbar li a {
    padding-right: 20px;
}
  
.nav-link {
    font-size: 1rem;
    padding: 4px 20px;
    border-radius: 0.2rem;
}

.nav-link:hover {
    color: #000000;
}

.nav-link > li  {
    padding-right: 10px;
}

/** Menu Icon */
.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 100;
    transition: 0.3s;
}
  
.menu-icon div {
    display: block;
    background-color: #000000;
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}
  
.move .line2 {
    opacity: 0;
}

.move .line3 { 
    transform: rotate(45deg) translate(-5px, -5px);
}


@media (max-width:768px) {
    .menu-icon {
        display: flex;
    }
    
    .navigationbar {
        visibility: visible;
        top: 0;
        width: min(75vw, 400px);
        height: 100vh;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        padding: 70px 20px;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    }
    
    .navigationbar, .open-menu {
        right: 0;
        opacity: 1;
        transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .close-menu {
        visibility: hidden;
        opacity: 0;
        right: 0;
    }
    
    .nav-link {
        display: block;
        margin: 1rem 0;
    }
}